#myTable,
th,
td {
  border: 3px solid rgb(49, 10, 223);
  padding: 20px;
  cursor: pointer;
  border-collapse: collapse;
}

#myInput {
  padding: 5px;
  border: 3px solid rgb(47, 4, 95);
  margin: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.pin {
  height: 15 px;
  width: 15px;
}
.pinned {
  background-color: yellow;
}
#b1 {
  width: 10%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
#b1:hover {
  background-color: blue;
  color: white;
}
